.App {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  height: 10%;
}

.search-button {
  background: #7F5539;
  border: none;
  padding: 10px 20px;
  color: #FFE8D6;
}

.recipes {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}